*{
    margin: 0%;
    padding: 0%;
}
main{
    justify-items: center;
}
body{
    font-family: 'SF Pro Display', sans-serif;
    
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/fuente/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: 400;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    justify-self: center;
}

header img{
    margin-top: 24px;
}

/*form*/
