*{
    margin: 0%;
    padding: 0%;
}
main{
    justify-items: center;
}
body{
    font-family: 'SF Pro Display', sans-serif;
    
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/fuente/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: 400;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    justify-self: center;
}

header img{
    margin-top: 24px;
}

form {
    width: 400px;
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    justify-self: center;
    margin-top: 50px;
}

/*titulo*/
h2 {
    margin-bottom: 10px;
    font-size: 28px;
}
p{
    color: #4F4F4F;
    font-size: 16px;
}

/*labels*/
label {
    display: block;
    text-align: left;
    margin: 50px 0 6px;
    font-weight: 500;
    font-size: 14px;
}

/*inputs*/
input[type="email"]{
    width: 400px;
    padding: 12px 0px 12px 0px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 20px;
}


/*main button */
button.primary {
    width: 400px;
    height: 44px;
    background: #2F80ED;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin: 25px 0 25px;
    font-size: 15px;
    cursor: pointer;
}

button.primary a {
    color: white;
    text-decoration: none;
}
.p-1{
    text-align: start;
    font-size: 14px;
    width: 401px;
}
.p-1 a{
    color: #1a73e8;
    text-decoration: none;
}
