*{
    margin: 0%;
    padding: 0%;
}
main{
    justify-items: center;
}
body{
    font-family: 'SF Pro Display', sans-serif;
    
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('fuente/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: 400;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    justify-self: center;
}

header img{
    margin-top: 24px;
}

/*form*/
form {
    width: 380px;
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
}

/* Título */
legend {
    font-size: 26px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Subtítulo */
form > p:first-of-type {
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
    line-height: 1.4;
}

/* Labels */
label {
    display: block;
    text-align: left;
    margin: 10px 0 5px;
    font-size: 14px;
    font-weight: bold;
}

/* Inputs */
input[type="password"] {
    width: 100%;
    padding: 12px;
    background: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 15px;
}

/* Focus */
input:focus {
    border-color: #0071e3;
    outline: none;
}

/* Botón principal */
button {
    width: 100%;
    background: #0071e3;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin: 15px 0 20px;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #005bbd;
}

/* Texto legal */
form p:last-of-type {
    font-size: 13px;
    color: #555;
    line-height: 1.4;
    margin-top: 10px;
}

form p:last-of-type a {
    color: #0071e3;
    text-decoration: none;
}

form p:last-of-type a:hover {
    text-decoration: underline;
}