*{
    margin: 0%;
    padding: 0%;
}
main{
    justify-items: center;
}
body{
    font-family: 'SF Pro Display', sans-serif;
    
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/fuente/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: 400;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    justify-self: center;
}

header img{
    margin-top: 24px;
}

form {
    width: 360px;
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    text-align: center;
    justify-self: center;
    margin-top: 50px;
}

/*titulo*/
h2 {
    margin-bottom: 30px;
    font-size: 26px;
}

/*labels*/
label {
    display: block;
    text-align: left;
    margin: 10px 0 6px;
    font-weight: 500;
    font-size: 14px;
}

/*inputs*/
input[type="email"]{
    width: 400px;
    padding: 12px 0px 12px 0px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 8px;
    font-size: 14px;
    margin-bottom: 20px;
}

/*main button*/
button.primary {
    width: 400px;
    background: #1a73e8;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 8px;
    margin: 15px 0 25px;
    font-size: 15px;
    cursor: pointer;
}

button.primary a {
    color: white;
    text-decoration: none;
}

/*hr*/
hr {
    border: none;
    border-top: 1px solid #e0e0e0;
    width: 400px;
}
.hr-div {
    position: relative;
    margin: 25px 0;
    width: 400px;
}

.hr-div hr {
    border: none;
    border-top: 1px solid #e0e0e0;
}

.p-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 0 10px;
}

.p-div p {
    font-size: 13px;
    color: #777;
    margin: 0;
}


.div-social{
    margin-top: 50px;
    width: 400px;
}
.div-social p{
    margin-top: 50px;
}
.div-social p a{
    color: #1a73e8;
    text-decoration: none;
}
/*social buttons*/
.social {
    width: 400px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    background: white;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    cursor: pointer;
    font-size: 14px;
}

.social.facebook {
    background-color: #475993;
    color: #fff;
    border: none;
}

.social img {
    pointer-events: none;
}
