body{
    background-color: rgb(255, 222, 228);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galeria-1, .galeria-2, .galeria-3{
    display: flex;
    gap: 30px;
    margin-bottom: 80px;
}
.galeria-1 div, .galeria-2 div, .galeria-3 div{
    background-color: white;
    height: 330px;
    border-radius: 8px;
    border: 1px solid gainsboro;
    text-align: center;
}
img{
    object-fit: contain;
    width: 400px;
    height: 212px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}