*{
    margin: 0%;
    padding: 0%;
}
main{
    justify-items: center;
}
body{
    font-family: 'SF Pro Display', sans-serif;
    background-color: #F4F4F4;
}
.tamaño-32{
    font-size: 32px;
    margin-bottom: 20px;
}
.tamaño-28{
    font-size: 28px;
    margin-bottom: 15px;
}
.tamaño-20{
    font-size: 20px;
}
.tamaño-18{
    font-size: 18px;
}
.tamaño-16{
    font-size: 16px;
}
.p-20{
    font-size: 20px;
}
.p-16{
    font-size: 16px;
}
.p-15{
    font-size: 15px;
}
.p-14{
    font-size: 14px;

}
@font-face {
    font-family: 'SF Pro Display';
    src: url('/fuente/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 400;
}
header{
    background-color: #FFFFFF;
    height: 75px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    justify-self: center;
}

header img{
    margin-top: 20px;
}
.div-nav{
    margin-top: 15px;
    width: 458px;
    align-self: center;
}
.header-nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.header-nav li a{
    text-decoration: none;
    color: #333333;
}
/*button header*/
.header-button button a{
    text-decoration: none;
}
.header-button{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header-button img{
    object-fit: cover;
}
.girl-icon{
    border-radius: 50%;
    align-self: center;
}

/*main*/
/*h1*/
.secure-h1{
    margin-top: 70px;
    width: 1240px;
    color: #1A1A1A;
}
/*covid*/
.covid-div{
    background-color: #FCEFCA;
    width: 1240px;
    height: 72px;
    border-radius: 8px;
    margin-top: 35px;
    color: #333333;
}
.covid-content{
    display: flex;
    padding-left: 22px;
    padding-top: 20px;
    gap: 20px;
}
.covid-content p{
    align-self: center;
}
.covid-content p a{
    text-decoration: none;
    color: #2F80ED;
}
/*check-form*/
.check-title{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #2F80ED;
    color: #FFFFFF;
    height: 60px;
    padding-left: 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.check-title-yellow{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #F2C94C;
    color: #333333;
    height: 60px;
    padding-left: 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.check-form{
    background-color: #FFFFFF;
    padding-left: 30px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 295px;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

/*check-div*/
/*first name and last name*/
.check-div{
    margin-bottom: 40px;
    width: 810px;
}
.name{
    display: flex;
    gap: 20px;
}
/*mobil number*/

/*input*/
input{
    border-style: none;
    border-radius: 4px;
    background-color: #F2F2F2;
}
#first-name, #last-name{
    width: 240px;
    height: 44px;
}
.phone-select {
    display: flex;
    align-items: center;
    position: relative;
}
.phone-select img {
    position: absolute;
    left: 15px;
}
#paises{
    width: 150px;
    height: 44px;
    background-color: #F2F2F2;
    text-align-last: center;
    border-right: 20px solid #F2F2F2;
    border-left: 5px solid #F2F2F2;
    border-bottom: 0px solid #F2F2F2;
    border-top: 0px solid #F2F2F2;
    border-radius: 4px;
    color: #333333;
    font-family: 'SF Pro Display';
}

#phone{
    width: 338px;
    height: 44px;
    margin-left: 10px;
    align-self: center;
}
/*div text-alert*/
.text-alert{
    display: flex;
    align-items: center;
    gap: 10px;
}
/*text alerts*/
#alert{
    width: 20px;
    height: 20px;
}
/*separacion entre inputs*/
.name{
    padding-top: 20px;
}
.name, .mobil-number{
    margin-bottom: 30px;
}

/*payment methods*/
.payment-methods{
    width: 810px;
}
.methods-div{
    background-color: #FFFFFF;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    height: 560px;
    margin-bottom: 40px;
}
.methods-div label{
    margin-bottom: 5px;
}
.payment-div{
    padding-left: 30px;
    border-bottom: 1px solid #E0E0E0;
    margin-bottom: 30px;
    padding-top: 10px;
}
.debit, .paypal, .bank{
    height: 40px;
    border-style: none;
    background-color: #FFFFFF;
}
.debit{
    width: 136px;
    border-bottom: 4px solid #2F80ED;
}
.paypal{
    width: 69px;
}
.bank{
    width: 109px;
}
/*payment buttons*/
.payment-buttons{
    display: flex;
    gap: 5px;
    margin-left: 30px;
    margin-top: 10px;
}
.payment-buttons button{
    width: 60px;
    height: 40px;
    border-radius: 5px;
    border-style: none;
}
/*input payment*/
.input-name-card{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 30px;
}
.input-name-card input{
    width: 500px;
    height: 44px;

}
.month-year-group{
    margin-left: 30px;
    margin-top: 30px;
}
.month-year{
    display: flex;
    gap: 15px;
}
.month-year select{
    background-color: #F2F2F2;
    color: #828282;
    width: 150px;
    height: 42px;
    border-style: none;
    border-right: 15px solid #F2F2F2;
    border-radius: 4px;
    padding-left: 10px;
    margin-top: 5px;
    font-family: 'SF Pro Display';
}
.div-security-zip{
    display: flex;
    gap: 20px;
    margin-left: 30px;
    margin-top: 30px;
}
.input-security-code{
    display: flex;
    flex-direction: column;
}
.input-security-code input{
    width: 240px;
    height: 44px;
}
/*important information*/
.important-information{
    width: 810px;
}
.important-information-div{
    background-color: #FFFFFF;
    text-align: left;
}
.important-information-div ul li{
    list-style-type: decimal;
}
.important-information-text{
    padding-top: 35px;
    padding-right: 25px;
    padding-left: 45px;
}
.important-information-text2{
    padding-top: 40px;
    padding-right: 20px;
    padding-left: 25px;
}
.important-information-text2 a{
    text-decoration: none;
    color: #2F80ED;
}
/*complete booking*/
.important-information{
    margin-bottom: 40px;
}
.important-information-div{
    height: 370px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.important-information-div button{
    width: 160px;
    height: 44px;
    color: #FFFFFF;
    background-color: #2F80ED;
    border-style: none;
    border-radius: 6px;
    margin-left: 25px;
    margin-top: 30px;
}
/*secure transmission*/
.secure-transmission{
    margin-left: 25px;
    margin-top: 30px;
    display: flex;
    gap: 10px;
    align-items: end;
}
/*hotel info*/
.img2{
    width: 400px;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.hotel-info{
    background-color: #FFFFFF;
    height: 400px;
    border-radius: 6px;
}
.etiqueta{
    margin-left: 20px;
    margin-top: 20px;
}
.puntuacion{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 25px;
}
.rojo{
    color: #EB5757;
}
.div-text{
    margin-top: 10px;
    margin-left: 20px;
}
.margin{
    margin-top: 10px;
}
.gris{
    color: #4F4F4F;
}
.negro{
    color: #181818;
}
/*price details*/
.check-title-green{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #85E0AB;
    color: #181818;
    height: 60px;
    padding-left: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.room-tax-container{
    border-bottom: 1px solid #E0E0E0;
    padding-right: 20px;
    padding-bottom: 20px;
}
.price-details-div{
    background-color: #FFFFFF;
    height: 295px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom: 1px solid #E0E0E0;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
}
.room-price, .tax-service{
    display: flex;
    justify-content: space-between;
}
.room-price{
    padding-top: 25px;
    padding-left: 20px;
}
.tax-service{
    margin-top: 10px;
    padding-left: 20px;
}
/*total price*/
.price-details{
    margin-top: 35px;
}
.total-price{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
.coupon{
    padding-left: 20px;
    margin-top: 10px;
    
}
.coupon a{
    text-decoration: none;
    color: #2F80ED;
}
.apply-coupon{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}
.apply-coupon input{
    width: 226px;
    height: 44px;
}
.apply-coupon button{
    background-color: #333333;
    color: #FFFFFF;
    border-style: none;
    border-radius: 6px;
    border: 1px solid #333333;
    width: 132px;
    height: 44px;
}
.coupon-code{
    padding-left: 20px;
    margin-top: 30px;
}
.div-a-b{
    display: flex;
    gap: 30px;
    margin-top: 30px;
}