*{
    margin: 0%;
    padding: 0%;
}
main{
    justify-items: center;
}
body{
    font-family: 'SF Pro Display', sans-serif;
    background-color: #F4F4F4;
}
.tamaño-32{
    size: 32px;
    margin-bottom: 20px;
}
.tamaño-28{
    size: 28px;
    margin-bottom: 15px;
}
.tamaño-20{
    size: 20px;
    margin-top: 10px;
}
.tamaño-16{
    size: 16px;
}
.p-20{
    size: 20px;
}
.p-16{
    size: 16px;
}
.p-14{
    size: 14px;
    margin-top: 5px;
}
@font-face {
    font-family: 'SF Pro Display';
    src: url('fuente/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 400;
}
header{
    background-color: #FFFFFF;
    height: 75px;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1240px;
    justify-self: center;
}

header img{
    margin-top: 20px;
}
.div-nav{
    margin-top: 15px;
    width: 458px;
    align-self: center;
}
.header-nav{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.header-nav li a{
    text-decoration: none;
    color: #333333;
}
/*button header*/
.header-button button a{
    text-decoration: none;
}
.header-button{
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.header-button img{
    object-fit: cover;
}
.girl-icon{
    border-radius: 50%;
    align-self: center;
}

/*main*/
/*covid*/
.covid-div{
    background-color: #FCEFCA;
    width: 1240px;
    height: 72px;
    border-radius: 8px;
    margin-top: 80px;
}
.covid-content{
    display: flex;
    padding-left: 22px;
    padding-top: 20px;
    gap: 20px;
}
.covid-content p{
    align-self: center;
}
.covid-content p a{
    text-decoration: none;
    color: #2F80ED;
}
/*check-form*/
.check-title{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #2F80ED;
    color: #FFFFFF;
    width: 810px;
    height: 60px;
    padding-left: 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.check-form{
    background-color: #FFFFFF;
    padding-left: 30px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 795px;
    height: 328px;
}
.input-group{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 5px;
}

/*check-div*/
/*first name and last name*/
.name{
    display: flex;
    gap: 20px;
}
/*mobil number*/
.mobile-number{
    display: flex;
    gap: 10px;
}
/*input*/
input, #paises{
    border-style: none;
    border-radius: 4px;
    background-color: #F2F2F2;
}
#first-name, #last-name{
    width: 240px;
    height: 44px;
}
#paises{
    width: 150px;
    height: 44px;
    align-self: center;
}
#phone{
    width: 338px;
    height: 44px;
}
/*div text-alert*/
.text-alert{
    display: flex;
    align-items: end;
    gap: 10px;
}
/*text alerts*/
#alert{
    width: 20px;
    height: 20px;
}
